<h1>select and Avatar</h1>
<form action="/avatar" method="post">
    <input type="hidden" name="_avatar" value="assets/dog_wizard_red.png">
    <button><img src="assets/dog_wizard_red.png" alt=""></button>
</form>
<form action="/avatar" method="post">
    <input type="hidden" name="_avatar" value="assets/dog_wizard_blue.png">
    <button><img src="assets/dog_wizard_blue.png" alt=""></button>
</form>
<form action="/avatar" method="post">
    <input type="hidden" name="_avatar" value="assets/dog_wizard_green.png">
    <button><img src="assets/dog_wizard_green.png" alt=""></button>
</form>