<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WIZARD FACE</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div class="ScrollLogin">
  <div class="scrollSignUpHeaderLeft"></div>
  <div class="header">
    <img src="/assets/hat_logo.png" alt=""> 
    <h1>WIZARD FACE</h1>
  </div>
  <div class="scrollSignUpHeaderRight"></div>
</div>
  <%= yield %>

</body>
</html>