<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wizards</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
  <img src="/assets/hat_logo.png" alt=""> 
  <h1>Wizard</h1>
</div>
  <%= yield %>

</body>
</html>