<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wizards</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
<h1>Wizard</h1>


  <%= yield %>

</body>
</html>