<div class="login">
<p>Not an awesome face melty Wizard yet? <a class="pulsate" href="/sign_up">SHAZAM</a></p>
<form action="/sessions" method="post">
  <label for="">Name</label>
  <input type="text" name="user_name">
  <label for="">Password</label>
  <input class="passwordBar" type="password" name="password">
  <button class="loginButton" >login</button>
</form>
</div>