<h1>wizard</h1>
<p>Not an awesome face melty Wizard yet? <a href="/sign_up">SHAZAM</a></p>
<form action="/sessions" method="post">
  <label for="">Name</label>
  <input type="text" name="user_name">
  <label for="">Password</label>
  <input type="password" name="password">
  <button>login</button>
</form>
