
<div class="message_block">
    <div class="wholeScroll">
    <div class="scrollOpenlLeft"></div>
        <form class="message_form" action="/messages" method="post">
          <label class='form_elements' for="">Name</label>
          <input class='form_elements' type="text" name="user_name" value="<% params{:user_name} %>">
      <input  type="hidden" name="sender_id" value="<%= current_user.id %>">
      <textarea class='form_elements' name="body"></textarea>

      <button>send message</button>
    </form>
    <div class="scrollOpenRight"></div>
    </div>

  <div class="messages">
      <% @message.each do |message| %>
                                  <%# User.find(comment.user_id).email %>
        
          <a class="message" href="/messages/<%= message.id %>"><%= message.sender.user_name %></a>
        
      <% end %>
  </div>
</div>
    <%# User.find(comment.user_id).email %>

