
<form action="/messages" method="post">
  <label for="">Name</label>
  <input type="text" name="user_name" value="<% params{:user_name} %>">

  <label for="">Subject</label>
  <input type="text" name="subject" value="<% params{:subject} %>">

  <input type="hidden" name="sender_id" value="<%= current_user.id %>">
  <textarea name="body"></textarea>

  <button>send message</button>
</form>

<% @message.each do |message| %>
                            <%# User.find(comment.user_id).email %>
  <p>from <%= message.sender.user_name %> <a href="/messages/<%= message.id %>"><%= message.subject %></a></p>
<% end %>

    <%# User.find(comment.user_id).email %>

