<div class="messageVeiwPage">

<div class="messageVeiwWhole">
    <div class="messagesVeiwLeft"></div>

    <div class="messageView">

     <p><%= @message[0].body %></p>

    </div>

    <div class="messagesVeiwRight"></div>
</div>

</div>