<p>waizrd</p>

<form action="/sign_up_post" method="post">
  <label for="">Name</label>
  <input type="text" name="user_name">
  <label for="">Password</label>
  <input type="password" name="password">
  <input class="avatar" type="hidden" name="_avatar" value="">
  <button>post</button>
</form>
<h1>select and Avatar</h1>
<img class="wizardDogRed" src="assets/dog_wizard_red.png" alt="">
<img class="wizardDogBlue" src="assets/dog_wizard_blue.png" alt="">
<img class="wizardDogGreen" src="assets/dog_wizard_green.png" alt="">
<script src="/javascripts/add_avatar.js"></script>