
<div class="login">
<form action="/sign_up_post" method="post">
  <label for="">Name</label>
  <input type="text" name="user_name">
  <label for="">Password</label>
  <input type="password" name="password">
  <input class="avatar" type="hidden" name="_avatar" value="">
  <button>sign up</button>
</form>
<h1>select an Avatar</h1>

  
  <button class="avatar_button_green"><img class="wizardDogGreen" src="assets/dog_wizard_green_big.png" alt=""></button>
  <button class="avatar_button_red"><img class="wizardDogRed" src="assets/dog_wizard_red_big.png" alt=""></button>
  <button class="avatar_button_blue"><img class="wizardDogBlue" src="assets/dog_wizard_blue_big.png" alt=""></button>
</div>

<script src="/javascripts/add_avatar.js"></script>