* {
    font-family: 'Press Start 2P', cursive;
    
}
body{
    background-image: url(/assets/tree_background.png);
}
a {
    color: black;
    text-decoration: none;
}
button {
    color: black;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
    height: 145px;
    width: -webkit-fill-available;
    background-repeat-y: no-repeat;
    margin-top: 3px;
    margin-bottom: -17px;
    background-image: url(/assets/scroll_center_small.png);
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    font-size: 20px;
    height: 145px;
    margin-bottom: 50px;
    background-image: url(/assets/scroll_center_small.png);
    width: -webkit-fill-available;
    margin-top: -54px;
    
}
.navAll {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
}
img {
    vertical-align: center;
}
.item {
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
}
.avatar_button_green {
    transition: all .8s ease;
    background-color: transparent;
    color: transparent;
    border: transparent
} 
.avatar_button_blue {
    transition: all .8s ease;
    background-color: transparent;
    color: transparent;
    border: transparent
} 
.avatar_button_red {
    transition: all .8s ease;
    background-color: transparent;
    color: transparent;
    border: transparent
}
.avatar_button_green:hover {
    background-color: rgb(67, 45, 29);
    color: #000;
} 
.avatar_button_blue:hover {
    background-color: grey;
    color: #000;
} 
.avatar_button_red:hover {
    background-color: grey;
    color: #000;
}
.clicked {
    background-color: grey;
    color: #000;
}
.login {
    text-align: center;
    background: #fff;
    height: 70px;
    
}
.coin_group {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
}
.message_form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-image: url(/assets/scroll_center.png);
    height: 110px;
    padding-top: 30px;
    
}
input[type="text"] {
    background: transparent;
    border: none;
}
textarea {
    background: transparent;
    border: none;
}
button {
    background: transparent;
    border: none;
}

.message_block {
    display: flex;
    justify-content: space-around;
    
}
.message_block > * {
    width: 40%;
    margin-top: -95px;
}


.pulsate {
-webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        color: red;
    }
    20% { 
        color: purple;
        font-size: 1.3rem;
    }
    40% { 
        color: yellow;
        font-size: 1.7rem;
    }
    60% { 
        color: green;
        font-size: 2rem;
    }
    80% { 
        color: blue;
        font-size: 1.7rem;
    }
    100% { 
        color: red;
        font-size: 1rem;
    }
}
.scrollLeftHeader{
    background-image: url(/assets/scroll_left_small.png);
    width: 24px;
    height: 150px;
    margin-top: 25px;
}
.scrollRightHeader{
    background-image: url(/assets/scroll_right_small.png);
    width: 24px;
    height: 150px;
    margin-top: 25px;

}
.scrollLeftNav{
    background-image: url(/assets/scroll_left_small.png);
    width: 24px;
    height: 220px;
    background-repeat-y: no-repeat;
    margin-top: -30px;
}
.scrollRightNav{
    background-image: url(/assets/scroll_right_small.png);
    width: 24px;
    height: 220px;
    background-repeat-y: no-repeat;
    margin-top: -30px;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
    margin-top: -50px;
}
.hat {
    height: 110px;
}