* {
    font-family: 'Press Start 2P', cursive;
}
/* LAYOUT */
.ScrollLogin {
    display: flex;
    
}
body {
    background-image: url(/assets/tree_background.png);
}
a {
    color: black;
    text-decoration: none;
}
button {
    color: black;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
    height: 145px;
    width: -webkit-fill-available;
    background-repeat-y: no-repeat;
    margin-top: 3px;
    margin-bottom: -17px;
    background-image: url(/assets/scroll_center_small.png);
}
.scrollLeftHeader{
    background-image: url(/assets/scroll_left_small.png);
    width: 24px;
    height: 150px;
    margin-top: 25px;
}
.scrollRightHeader{
    background-image: url(/assets/scroll_right_small.png);
    width: 24px;
    height: 150px;
    margin-top: 25px;
}
.coin_group {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    font-size: 20px;
    height: 145px;
    margin-bottom: 50px;
    background-image: url(/assets/scroll_center_small.png);
    width: -webkit-fill-available;
    margin-top: -54px;
}
.navAll {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
    margin-bottom: -90px;
}
.scrollLeftNav{
    background-image: url(/assets/scroll_left_small.png);
    width: 24px;
    height: 220px;
    background-repeat-y: no-repeat;
    margin-top: -30px;
}
.scrollRightNav{
    background-image: url(/assets/scroll_right_small.png);
    width: 24px;
    height: 220px;
    background-repeat-y: no-repeat;
    margin-top: -30px;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
    margin-top: -50px;
}
.hat {
    height: 110px;
}
img {
    vertical-align: center;
}/* SIGN UP PAGE */
.scrollSignUpHeaderLeft {
    background-image: url(/assets/scroll_left_small.png);
    width: 24px;
    height: 220px;
    background-repeat-y: no-repeat;
    margin-top: 5px;
}
.scrollSignUpHeaderRight {
    background-image: url(/assets/scroll_right_small.png);
    width: 24px;
    height: 220px;
    background-repeat-y: no-repeat;
    margin-top: 5px;
}
.avatars {
    margin-top: 20px;
}
.avatar_button_green, .avatar_button_blue, .avatar_button_red {
    transition: all .8s ease;
    background-image: transparent;
    /* background-color: transparent; */
    color: transparent;
    border: transparent solid;
} 
.avatar_button_green:hover, .avatar_button_blue:hover, .avatar_button_red:hover {
    background-image: url(/assets/stone_wall.png);
    border: #2b2727 solid;
}
.clicked {
    background-image: url(/assets/stone_wall.png);
    border: #2b2727 solid;
}
/* LOG IN PAGE */
.login {
    background-image: url(/assets/stone_wall.png);
    text-align: center;
    height: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: #2b2727 solid;
    color: #bbb9b7;
    margin-top: -55px;
}
.loginButton {
    background: transparent;
    border: none;
    color: #bbb9b7;
}
.passwordBar {
    background: transparent;
    border: none;
}
.pulsate {
    -webkit-animation: pulsate 3s ease-out;
        -webkit-animation-iteration-count: infinite; 
        opacity: 0.5;
    }
    @-webkit-keyframes pulsate {
        0% { 
            color: red;
        }
        20% { 
            color: purple;
            /* font-size: 1.3rem; */
        }
        40% { 
            color: brown;
            /* font-size: 1.7rem; */
        }
        60% { 
            color: green;
            /* font-size: 2rem; */
        }
        80% { 
            color: blue;
            /* font-size: 1.7rem; */
        }
        100% { 
            color: red;
            /* font-size: 1rem; */
        }
    }
/* USER HOME */
.avatarContainer {
    display: flex;
    justify-content: center;
}
/* INVENTORY */
.inventory {
    background-image: url(/assets/wood_planks.png);
    padding-top: 5px;
    padding-bottom: 5px;
    border: #4b2e07 solid;
}
.item {
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
    justify-content: space-between;
    
}
.itemName {
    display: flex;
    color: beige;
}
.itemFunction {
    
}
.itemHeading {
    text-align: center;
    color: beige;
}
.itemGroup {
    display: flex;
    align-content: center;
}
.auctionButton, .cancelButton, .buyButton{
    color: beige;
}
/* MARKET */
.marketSell, .market, .message_block, .messageVeiwWhole{
    background-image: url(/assets/wood_planks.png);
    padding-top: 5px;
    padding-bottom: 5px;
    border: #4b2e07 solid;
}
.sellHeader, .marketHeader {
    text-align: center;
    color: beige;
}
.sellItem, .auction {
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
    justify-content: space-between;
    color: beige;
}
.sellImage {
    vertical-align: center;
    color: beige;
}
.sellGroup {
    display: flex;
    justify-content: left;
    color: beige;
}
/* MESSAGES */
.messageVeiwPage {
    display: flex;
    justify-content: center;
}
.messageVeiwWhole {
    display: flex;
    text-align: center;
}
.wholeScroll, .messageVeiwWhole, .messageVeiwWhole {
    display: flex;
    justify-content: left;
}
.message_form, .messageView {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-image: url(/assets/scroll_full_open_center.png);
    height: 210px;
    width: 168px;
    padding-top: 30px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    
}
.scrollOpenlLeft, .messagesVeiwLeft {
    height: 64px;
    width: 80px;
    background-image: url(/assets/scroll_full_open_left.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    margin-top: -40px;
}
.scrollOpenRight, .messagesVeiwRight {
    height: 50px;
    width: 50px;
    background-image: url(/assets/scroll_full_open_right.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    margin-top: 200px;
}
input[type="text"] {
    background: transparent;
    text-decoration: underline;
}
.messageBody, input[type="text"] {
    cursor: url(/assets/purple_quill.png) 0 70, auto; 
}
.needsQuill{
    cursor: url(/assets/purple_quill.png) 0 70, auto; 
}
textarea {
    background: transparent;
    border: none;
    height: 110px;
}
button {
    background: transparent;
    border: none;
}
.message_block {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message {
    background-image: url(/assets/closed_scroll.png);
    height: 56px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    color: beige;
}
.messageBody, .messageName {
    align-self: center;
    width: 85%;
    border: transparent;
    border-bottom: #543809 solid;
}
/* OTHER */

.uder_consrtution_container {
    display: flex;
    justify-content: center;
}
.under_construction {
    height: 400px;
}

